@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInModal {
  animation: fadeInModal 0.3s ease-out forwards;
}

.navlink.active {
  color: #00bafe;
  border-bottom: 1px solid;
}

html {
  scroll-behavior: smooth;
}
.swiper-pagination {
  margin-bottom: 16px;
}
.swiper-button-prev{
margin-left: 12px;
}
.swiper-button-next {
    margin-right: 12px;
}
