@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

*{
   font-family: "Poppins", sans-serif;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInModal {
  animation: fadeInModal 0.3s ease-out forwards;
}

.navlink.active {
  color: #00bafe;
  border-bottom: 1px solid;
}

html {
  scroll-behavior: smooth;
}
.swiper-pagination {
  margin-bottom: 16px;
}
.swiper-button-prev{
  color: #00bafe;
  margin-left: 12px;
}
.swiper-button-next {
  color: #00bafe;
  margin-right: 12px;
}
